exclude *.pyc .DS_Store .gitignore MANIFEST.in
include setup.py
include README.md
include LICENSE
recursive-include bin *
recursive-include bananagotchi *.py
recursive-include bananagotchi *.toml
recursive-include bananagotchi *.*
